✅String Concatenation

In [1]:
#To concatenate, or combine, two strings you can use the + operator.
fname='Sanjeet'
lname='Kumar'
name=fname+lname
print(fname,lname)
print(name)
print(fname+'@'+lname)

Sanjeet Kumar
SanjeetKumar
Sanjeet@Kumar

✅Casting

In [2]:
#other data type into str
v1=str(4)
v2=str(4.5)
v3=str(4+5j)
v4=str(True)
print(v1)
print(v2)
print(v3)
print(v4)
print(type(v1))
print(type(v2))
print(type(v3))
print(type(v4))

4
4.5
(4+5j)
True
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
#str to other data type
v1=int('4')
print(v1)
print(type(v1))

4
<class 'int'>

In [4]:
#string contain num can be cast into int but we can't cast text into int
v2=int('sanjeet')
print(v2)

ValueError: invalid literal for int() with base 10: 'sanjeet'

✅format Method

In [5]:
# we can't concatenate str and int 
age = 21
txt = "My name is sanjeet, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [6]:
#we can combine strings and numbers by using the format() method!
age = 21
txt = "My name is sanjeet, I am {}" #{} is a place holder
print(txt.format(age))

My name is sanjeet, I am 21

In [7]:
age=21
print("My name is sanjeet, I am {}".format(age))

My name is sanjeet, I am 21

In [8]:
r=10
t=1
p=1000
i=(p*r*t)/100
print('I={} of {} at {} % for {} year'.format(i,p,r,t))

I=100.0 of 1000 at 10 % for 1 year

In [9]:
r=10
t=1
p=1000
i=(p*r*t)/100
print('I={0} of {1} at {2} % for {3} year'.format(i,p,r,t))

I=100.0 of 1000 at 10 % for 1 year

In [10]:
#when we put index value of variable, assign with correct index value for meangingful o/p
r=10
t=1
p=1000
i=(p*r*t)/100
print('I={1} of {2} at {3} % for {0} year'.format(i,p,r,t))

I=1000 of 10 at 1 % for 100.0 year

!! Thank You !!